.reasons__list {
  .do-list-clear;
  display: flex;
  flex-direction: column;
  padding: 0 26px;
  @media (min-width: @tablet-width) {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
}

.reasons__item {
  &:not(:last-child) {
    border-bottom: 1px solid @list-separator-color;
  @media (min-width: @tablet-width) {
      border-bottom: none;
    }
  }
  &:not(:first-child) {
    border-top: 1px solid @list-separator-color;
  @media (min-width: @tablet-width) {
      border-top: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 33.3%;
    padding: 42px 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 42px;
    padding-bottom: 62px;
  }
}

.reasons__title {
  .font-big-bold;
  color: @text-main-color;
  padding: 26px 0;
  margin: 0;
}

.reasons__number {
  margin: 0;
  .font-normal-small;
  color: @text-lightly-color;
}

.reasons__description {
  margin: 0;
  padding: 26px 0;
  .font-normal-small;
  color: @text-lightly-color;
}

.reasons__wrapper {
  text-align: center;

  &--highlighted {
    padding: 40px 20px 36px 20px;
  }

  @media (min-width: @tablet-width) {
    &--highlighted {
      width: 24.35%;
      min-width: 256px;
      max-width: 400px;
      padding: 40px 4.35% 36px 4.35%;
    }
  }
}

.reasons__image {
  background-color: @background-trird;
}

.reasons__element {
  background-color: @background-second;
  display: flex;
  flex-direction: column;

  &--highlighted {
    background-color: @background-trird;
    display: flex;
    flex-direction: column;
    & p {
      color: @text-light-color;
    }
  }
  &--advantages {
    background-color: @background-main;
  }

  @media (min-width: @tablet-width) {
    &--highlighted {
      flex-direction: row;
      height: 256px;
    }
    &--two {
      flex-direction: row-reverse;
    }
  }
}
