.do-list-clear {
  list-style: none;
  padding: 0;
  margin: 0;
}
.font-menu {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.font-big-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.font-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
.font-title-tablet {
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
}
.font-buttons {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.font-normal-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.font-bold-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.font-biger-bold {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}
.font-form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
@form-down-background-inner : rgba (51, 51, 51, 0.3);
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../../fonts/ptsans.woff");
  src: url("../../fonts/ptsans.woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff");
  src: url("../../fonts/ptsansbold.woff2");
}
.about__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0 32px 0;
}
.about__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 35px 0;
  max-width: 286px;
}
.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  max-width: 286px;
}
@media (min-width: 768px) {
  .about__header {
    padding: 50px 0 50px 0;
  }
  .about__title {
    max-width: 520px;
  }
  .about__text {
    max-width: 520px;
  }
}
.advantages {
  padding: 25px 18px 25px 18px;
}
@media (min-width: 768px) {
  .advantages {
    padding: 60px 30px 60px 30px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding: 60px 30px 80px 30px;
  }
}
.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 768px) {
  .advantages__item {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.advantages__item::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__item::before {
    width: 70px;
    height: 70px;
    position: static;
  }
}
.advantages__item--habitation::before {
  background-image: url("../../img/icons/icon-habitation.svg");
}
.advantages__item--food::before {
  background-image: url("../../img/icons/icon-food.svg");
}
.advantages__item--souvenirs::before {
  background-image: url("../../img/icons/icon-souvenirs.svg");
}
.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 8px 0 16px 50px;
}
@media (min-width: 768px) {
  .advantages__title {
    text-align: center;
    margin: 26px auto;
  }
}
.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 8px 0 25px 50px;
}
@media (min-width: 768px) {
  .advantages__description {
    margin: auto;
    max-width: 190px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    max-width: 315px;
  }
}
.booking__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: auto;
}
.booking__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 0 11px;
  margin: 26px 0 32px 0;
}
.booking__wrapper {
  margin: auto;
  text-align: center;
  padding: 40px 18px 50px 18px;
  min-width: 234px;
  max-width: 418px;
}
@media (min-width: 768px) {
  .booking__wrapper {
    padding: 58px 0 58px 0;
    max-width: 458px;
  }
}
.booking__button {
  width: 100%;
}
.button {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 0;
  margin: auto;
  border: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button--disabled {
  background-color: #e5e5e5;
}
.developer {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
}
.developer__text {
  margin: 0 12px;
}
@media (min-width: 768px) {
  .feedback__form {
    padding: 0 60px;
  }
}
.feedback__fieldset {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border: none;
  padding: 24px 20px 35px 20px;
  margin: 0;
}
.feedback__fieldset--impression,
.feedback__fieldset--visited,
.feedback__fieldset--emotions {
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .feedback__fieldset {
    padding: 24px 0 60px 0;
  }
}
.feedback__legend {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .feedback__legend {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .feedback__legend--impression,
  .feedback__legend--emotions {
    background-color: #ffffff;
    width: 400px;
    margin: -36px auto 28px auto;
  }
}
@media (min-width: 768px) {
  .feedback__legend--visited {
    background-color: #ffffff;
    width: 400px;
    margin: -52px auto 28px auto;
  }
}
.feedback__label {
  min-width: 200px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback__label--radio,
.feedback__label--checkbox {
  height: 46px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 16px 0;
}
.feedback__label--radio:before,
.feedback__label--checkbox:before {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  margin: 0 16px 0 0;
  background-color: #f2f2f2;
  border-radius: 50%;
}
.feedback__label--radio:hover:before,
.feedback__label--checkbox:hover:before {
  background-color: #e5e5e5;
}
.feedback__label--checkbox:before {
  border-radius: 4px;
}
.feedback__label--required {
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .feedback__label--required {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.feedback__label--text {
  margin: 0 0 0 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.feedback__label--required {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.feedback__text-input {
  display: block;
  padding: 16px;
  margin: 0 0 16px 0;
  border: none;
  background-color: #f2f2f2;
  min-width: 248px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback__text-input::placeholder {
  color: #0000004d;
}
.feedback__text-input:hover {
  background-color: #e5e5e5;
}
.feedback__text-input:focus,
.feedback__text-input:active {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}
.feedback__textarea {
  margin: 0 0 56px 0;
  min-height: 118px;
  min-width: 248px;
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}
.feedback__textarea::placeholder {
  color: #0000004d;
}
.feedback__textarea:hover {
  background-color: #e5e5e5;
}
@media (min-width: 768px) {
  .feedback__textarea {
    width: 100%;
  }
}
.feedback__input-icon {
  display: flex;
  flex-direction: column;
}
.feedback__input-icon::after {
  content: "";
  display: block;
  position: absolute;
  align-self: flex-end;
  background-color: #e5e5e5;
  background-image: url("../../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 58px;
  width: 58px;
}
.feedback__button {
  width: 100%;
}
@media (min-width: 768px) {
  .feedback__button {
    margin: 0;
    width: 324px;
  }
}
.feedback__radio,
.feedback__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input:checked + .feedback__label--radio:after {
  content: '';
  display: block;
  position: absolute;
  margin: 0 15px;
  background-color: #333333;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
input:checked + .feedback__label--checkbox:after {
  content: '';
  display: block;
  position: absolute;
  margin: 0 12px;
  background: url('../../img/checkbox.svg');
  width: 22px;
  height: 16px;
}
input:disabled + .feedback__label--radio:before,
input:disabled + .feedback__label--checkbox:before {
  background-color: #d5d5d5;
}
input:disabled + .feedback__label--radio:after,
input:disabled + .feedback__label--checkbox:after {
  opacity: 0.3;
}
.feedback__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .feedback__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .feedback__wrapper--impression {
    padding: 0 36px;
  }
}
@media (min-width: 768px) {
  .feedback__wrapper--visited {
    padding: 0 84px;
  }
}
.feedback__separator {
  margin: 24px 44px 60px 44px;
  display: block;
  width: 1px;
  background-color: #e5e5e5;
}
.photo-gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .photo-gallery__list {
    padding: 0 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .photo-gallery__list {
    padding: 30px 0 40px 0;
  }
}
.photo-gallery__item {
  padding: 25px 20px 25px 20px;
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .photo-gallery__item {
    border-bottom: none;
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .photo-gallery__item--first {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photo-gallery__item {
    width: 33.333333%;
  }
  .photo-gallery__item--first {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .photo__info {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 1200px) {
  .photo__info {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -80px;
    color: #ffffff;
  }
}
.photo__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .photo__image {
    height: 267px;
  }
}
@media (min-width: 768px) {
  .photo__image--first {
    height: 400px;
  }
}
.photo__title {
  margin: 15px 0 0 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.photo__copyright {
  text-transform: none;
  margin: 0 0 11px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.photo__likes {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.photo__likes-button {
  display: block;
  background-image: url('../../img/icons/like-icon.svg');
  opacity: 0.3;
  width: 23px;
  height: 21px;
}
@media (min-width: 1200px) {
  .photo__likes-button {
    background-image: url('../../img/icons/like-icon-light.svg');
    opacity: 1;
  }
}
.photo__likes-button:hover {
  opacity: 0.7;
}
.photo__likes-button:active {
  opacity: 0.5;
}
.main-header {
  height: 56px;
  display: flex;
  flex-direction: column;
}
.main-header__logo {
  position: absolute;
  align-self: center;
  display: block;
  width: 185px;
  height: 96px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='185' height='96' viewBox='0 0 185 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M185 0H0L79.8097 90.1011C86.8489 97.9663 98.2503 97.9663 105.289 90.1011L185 0Z' fill='%2381B3D3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.main-footer {
  display: flex;
  flex-direction: column;
  height: 233px;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer {
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.main-footer__logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}
.main-nav {
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #ffffff;
  }
}
.main-nav__toogle {
  width: 23px;
  height: 22px;
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: #ffffff;
  display: block;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toogle {
    display: none;
  }
}
.main-nav--closed .main-nav__toogle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2;
}
.main-nav--closed .main-nav__toogle:hover::before {
  background-color: rgba(129, 179, 210, 0.6);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.6), 0 18px 0 0 rgba(129, 179, 210, 0.6);
}
.main-nav--closed .main-nav__toogle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 9px 0 0 rgba(129, 179, 210, 0.3), 0 18px 0 0 rgba(129, 179, 210, 0.3);
}
.main-nav--opened .main-nav__toogle {
  background-color: #81b3d2;
}
.main-nav--opened .main-nav__toogle::before,
.main-nav--opened .main-nav__toogle::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -2px;
  width: 28px;
  height: 4px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toogle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toogle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toogle:hover::before,
.main-nav--opened .main-nav__toogle:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}
.main-nav--opened .main-nav__toogle:active::after,
.main-nav--opened .main-nav__toogle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav--opened {
  z-index: 1;
}
.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-evenly;
  }
}
.main-nav__item {
  height: 26px;
  padding: 17px 0 12px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .main-nav__item {
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  }
  .main-nav__item:last-child {
    box-shadow: inset 0 -7px 7px rgba(0, 0, 0, 0.2);
  }
  .main-nav__item:first-child {
    box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.2);
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 20%;
  }
  .main-nav__item--current .main-nav__link {
    color: #766357;
  }
}
.main-nav__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
  .main-nav__link:hover {
    color: #81b3d2;
  }
  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
  .main-nav--opened .main-nav__list {
    display: block;
  }
}
.main-nav--nojs .main-nav__toogle {
  display: none;
}
.main-nav--nojs .main-nav__list {
  display: block;
  position: static;
}
.main-nav--nojs {
  z-index: 1;
}
.main-nav__item--empty {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__item--empty {
    display: block;
  }
}
.map__image {
  width: 100%;
  object-fit: cover;
  background-color: #81b3d2;
}
.page {
  min-width: 320px;
  margin: auto;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px) {
  .page {
    width: 1200px;
    margin: auto;
    box-shadow: 0 0 20px #9e9e9e;
  }
}
.reasons__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 26px;
}
@media (min-width: 768px) {
  .reasons__list {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
}
.reasons__item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .reasons__item:not(:last-child) {
    border-bottom: none;
  }
}
.reasons__item:not(:first-child) {
  border-top: 1px solid #d6d6d6;
}
@media (min-width: 768px) {
  .reasons__item:not(:first-child) {
    border-top: none;
  }
}
@media (min-width: 768px) {
  .reasons__item {
    width: 33.3%;
    padding: 42px 30px;
  }
}
@media (min-width: 1200px) {
  .reasons__item {
    padding: 42px;
    padding-bottom: 62px;
  }
}
.reasons__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 26px 0;
  margin: 0;
}
.reasons__number {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.reasons__description {
  margin: 0;
  padding: 26px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.reasons__wrapper {
  text-align: center;
}
.reasons__wrapper--highlighted {
  padding: 40px 20px 36px 20px;
}
@media (min-width: 768px) {
  .reasons__wrapper--highlighted {
    width: 24.35%;
    min-width: 256px;
    max-width: 400px;
    padding: 40px 4.35% 36px 4.35%;
  }
}
.reasons__image {
  object-fit: cover;
  width: 100%;
  background-color: #81b3d2;
}
.reasons__element {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
}
.reasons__element--highlighted {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
}
.reasons__element--highlighted p {
  color: #ffffff;
}
.reasons__element--advantages {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .reasons__element--highlighted {
    flex-direction: row;
    height: 256px;
  }
  .reasons__element--two {
    flex-direction: row-reverse;
  }
}
.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.social__link--vk {
  background-image: url('../../img/icons/social-vk.svg');
}
.social__link--telegramm {
  background-image: url('../../img/icons/social-telegram.svg');
}
.social__link--youtube {
  background-image: url('../../img/icons/social-youtube.svg');
}
.social__item:not(:last-child) {
  margin-right: 6px;
}
.template-header {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .template-header {
    border: none;
  }
}
.template-header__wrapper {
  text-align: center;
  padding: 32px 20px 20px 20px;
}
@media (min-width: 768px) {
  .template-header__wrapper {
    padding: 32px 20px 80px 20px;
  }
}
.template-header__banner {
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #81b3d2;
  background-image: url("../../img/background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  text-align: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .template-header__banner {
    background-image: url("../../img/background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .template-header__banner {
    background-image: url("../../img/background-desktop@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .template-header__banner {
    background-image: url("../../img/background-desktop@2x.jpg");
  }
}
.template-header__banner:after {
  content: "";
  background-image: url("../../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 57px;
  justify-self: self-end;
}
.template-header__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .template-header__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin: 32px 0 20px 0;
  }
}
.template-header__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .template-header__text {
    margin: auto;
    line-height: 24px;
    width: 435px;
  }
}
.video-gallery {
  text-align: center;
  padding: 20px 20px 0 20px;
}
@media (min-width: 768px) {
  .video-gallery {
    padding: 38px 60px 40px 60px;
  }
}
@media (min-width: 1200px) {
  .video-gallery {
    padding: 30px 200px 40px 200px;
  }
}
.video-gallery__wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
}
.video-gallery__image {
  width: 100%;
  height: 100%;
}
.video-gallery__play-button {
  background-image: url('../../img/icons/play-button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 54px;
  height: 48px;
  border: none;
  background-color: transparent;
  position: absolute;
  opacity: 0.7;
}
.video-gallery__play-button:hover {
  background-color: transparent;
  opacity: 1;
}
.video-gallery__play-button:active {
  opacity: 0.5;
}
@media (min-width: 768px) {
  .video-gallery__header {
    margin: 0 0 63px 0;
  }
}
.video-gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .video-gallery__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin: 32px 0 20px 0;
  }
}
.video-gallery__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .video-gallery__text {
    margin: auto;
    line-height: 24px;
    width: 435px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wellcome__banner {
  text-align: center;
}
.wellcome__image {
  margin: auto;
}
@media (min-width: 768px) {
  .wellcome__image {
    width: 460px;
    height: 350px;
  }
}
.wellcome__banner {
  background-color: #81b3d2;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../img/background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .wellcome__banner {
    background-image: url("../../img/background-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .wellcome__banner {
    background-image: url("../../img/background-desktop@1x.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .wellcome__banner {
    background-image: url("../../img/background-desktop@2x.jpg");
  }
}
.wellcome__banner::after {
  content: "";
  background-image: url("../../img/intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 57px;
  justify-self: self-end;
}
@media (min-width: 768px) {
  .wellcome__banner {
    height: 520px;
  }
}
/*

.about {
  outline: 5px solid #1eff008c;
  outline-offset: -5px;
}

.booking {
  outline: 5px solid #c300ff8c;
  outline-offset: -5px;
}

.button {
  outline: 5px solid #d0ff008c;
  outline-offset: -5px;
}

.developer {
  outline: 5px solid #ff008c8c;
  outline-offset: -5px;
}

.feedback {
  outline: 5px solid #ff00008c;
  outline-offset: -5px;
}

.foto-gallery {
  outline: 5px solid #ffe600d8;
  outline-offset: -5px;
}

.logo {
  outline: 5px solid #ff00aac0;
  outline-offset: -5px;
}

.main-container {
  outline: 5px solid #ff0000e8;
  outline-offset: -5px;
}

.main-header {
  outline: 5px solid #ff9100d7;
  outline-offset: -5px;
}

.main-footer {
  outline: 5px solid #00ff37be;
  outline-offset: -5px;
}

.main-nav {
  outline: 5px solid #0400ffcb;
  outline-offset: -5px;
}

.map {
  outline: 5px solid #00ffeace;
  outline-offset: -5px;
}

.nav {
  outline: 5px solid #00ffaad3;
  outline-offset: -5px;
}

.reasons {
  outline: 5px solid #4400ffe0;
  outline-offset: -5px;
}

.social {
  outline: 5px solid #d5d807ea;
  outline-offset: -5px;
}

.template-header {
  outline: 5px solid #ff99008c;
  outline-offset: -5px;
}

.video-gallery {
  outline: 5px solid #00aeffe3;
  outline-offset: -5px;
}

.wellcome {
  outline: 5px solid #ff0015ec;
  outline-offset: -5px;
}


.foto-gallery__item {
  outline: 4px solid #c300ff8c;
  outline-offset: -4px;
}

.video-gallery {
  outline: 4px solid #00d9ff8c;
  outline-offset: -4px;
}
*/
/*# sourceMappingURL=style.css.map */
